*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;

    .hero{
        background-image: url("./img/wallpaper_battlefield_2042_01_1920x1080.jpg");
        width: 100%;
        min-height:100vh;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}