@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@mixin section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
    min-height:100vh;
    color:white;
}
@mixin game{
            width: 200px;
            height: 350px;
            border-radius: 17px;
            
}
@mixin button {
                border-radius: 40px;
               padding: 10px 30px;
               border: none;
               background-color: #4a5d79;
               color:white;
               transition: .5s;
               cursor: url('./img/14197462201580211788-128.png'), auto;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: url('./img/14197462201580211788-128.png'), auto;

    .hero{
        background-image: url("./img/wallpaper_battlefield_2042_01_1920x1080.jpg");
        width: 100%;
        min-height:100vh;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items:flex-end;
        background-position: center;
        text-align: center;
        background-attachment: fixed;

        
    }
    .section-one{
        @include section;
        
       .left{
           display: flex;
           justify-content: center;
           align-items: center;
           padding-top: 10vh;
       }
       .right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 10vh;

           .create{
               @include button;
               

           }
           .create:hover{
               padding: 10px 40px;
               color: black;
               background-color: whitesmoke;
           }
           p{
               line-height: 2;
           }
       }
    }
    .section-two{
        @include section;

        .row{
            margin-top:5vh;
        }

        .col-md-3{
            display: flex;
            justify-content: center;
            margin-top: 5vh;
        }

        .game-one{
            @include game;  
            background-image: url('./img/PUBG-Phone-Wallpaper-05-1080x2340.jpg');
            background-size: cover;
            background-position: center;
        
        }
        .game-two{
            @include game;  
            background-image: url('./img/2204600.jpg');
            background-size: cover;
            background-position: center;
        }
        .game-three{
            @include game;  
            background-image: url('./img/wp5491484-lords-mobile-wallpapers.jpg');
            background-size: cover;
            background-position: center;
        }
        .game-four{
            @include game;  
            background-image: url('./img/wp6780616-football-game-wallpapers.jpg');
            background-size: cover;
            background-position: center
        }
        .game-five{
            @include game;  
            background-image: url('./img/clash_of_clans.jpg');
            background-size: cover;
            background-position: center;
        }
        .game-six{
            @include game;  
            background-image: url('./img/wp2444648-temple-run-wallpapers.jpg');
            background-size: cover;
            background-position: center;
        }
        .game-seven{
            @include game;  
            background-image: url('./img/1960639.png');
            background-size: cover;
            background-position: center;
        }
        .game-eight{
            @include game;  
            background-image: url('./img/wp4773188-phone-free-fire-wallpapers.jpg');
            background-size: cover;
            background-position: center;
        }
        .cover{
            @include game;
            display: flex;
            flex-direction: column;
            justify-content:end;
            align-items: center;
            padding-bottom: 30px;
            opacity: 0;
            transition: .5s;
            border: 5px solid #4a5d79;
        }
        .cover:hover{
            opacity: 1;
            background-color: rgba($color: #000000, $alpha:0.4);
        }
        button{
            @include button;
        }
    }
}